.property-listings {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.property-listing {
  margin: 20px 0;
  width: 100%;
  max-width: 600px;
  height: 200px;
  border: 1px solid black;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  align-content: stretch;

  &__title {
    font-size: 1rem;
  }
  &__preview-image {
    overflow: hidden;
    max-width: 50%;
    img {
      min-width: 100%;
      height: 100%;
      padding: 0;
    }
  }
}

@media screen and (max-width: 400px) {
  .property-listing {
    flex-direction: column;
    height: 400px;
  }
}
